<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    
    	<p>
            I have over 11+ years of experience as a software engineer, and have worked as technical lead and technical project manager
            at multiple large organizations in India, the United Kingdom and the United States. While I'm a proficient application 
			developer in Java, Python, object-oriented design, Relational database design, SQL and PL/SQL, I am familiar with several other 
			technologies and frameworks e.g. Spring Boot, Djando, Apache Spark, SQOOP, Machine Learning, AI, Javascript, React js.
        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
           I'm looking for a senior individual contributor role where I can apply my technology 
		   expertise, take on collaborative team leadership responsibilites, and gain experience 
		   with architecture and project management.
        </p>
      
	    </div>
		<div class="row">
		    <h3 style="margin-top:0;">Highlights</h3>
		</div>
		<div class="row">
			<ul>
				<li>
				Currently, implementing masking mechanism on Protected Health Information (PHI) for any 
				future migration of production data to the non-prod environments in order to comply 
				with Health Insurance Portability and Accountability Act (HIPAA) using Python and 
				Informatica TDM. This solution is projected to save HIPAA non-compliance 
				penalty amounting up to $1.5 million annually.
			  </li>
			  <li>
				In my last project,  accomplished 80% reduction in waiting time on ad-hoc data refresh requests placed 
				by the development/test team by implementing data refresh solution (insert and incremental update) 
				from production database to non-prod databases using Python scripting.
			  <li>
				Implemented Order-to-cash module for Electronic Arts (EA Sports) for its physical+digital orders that require game CDs 
				to be shipped and license key to be generated for customers using Oracle ERP, SQL, PL/SQL, Oracle DB
				resulting in 99% Customer Satisfaction Index.
			  <li>
				Led a team of 7 engineers to develop a web based Order Management solution for Phones4u, UK using 
				Object-Oriented Design techniques, Java, Oracle DB saving Phones4u the implementation/operational 
				support cost for Oracle Service Contract module i.e. ~80,000 GBP.
			 </li>
			 <li>
				Led a team of 9 engineers in Post Go-Live Support for Oracle HRMS module implementation 
				for British Telecom using Oracle ERP, SQL, PL/SQL, Oracle DB resulting in a drop in incident 
				count by 70% in a span of 6 months. Received ‘Best Team 2016’ in British Telecom.
			  </li>
		  </ul>
	    </div>
    </div>
  </div>
</section>
