<section class="tout" id="highlights">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Highlights</h2>
        <hr />
      </div>
    </div>
    
		<div class="row">
			<ul>
				<li>
				Agile Certified Practitioner by Project Management Institute in 2019.
			  </li>
			  <li>
				Authored <a href="https://ieeexplore.ieee.org/document/8234533">password security system with 2-way authentication</a>  - a paper that was published on IEEE xplore library in 2017
			  </li>
			  <li>
				Received 'Star of the Month' award at Tata Consultany Services in 2008
			  </li>
			  <li>
				Received 'Best Team' award in British Telecom as the Team Lead in 2016
			 </li>

		  </ul>
	    </div>
    </div>
  </div>
</section>
