<section id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Building softwares for the betterment of society </b>. There are so many social, economical, political issues persist around us that bother me. 
				 Technology cannot take on all those issues alone - we need active participation from all section of our soceity to deal with those issues. 
				 However, Software definitely can help us bringing the support from them.
			  <li>
				  <b>Learn and let learn</b>. While I am a relentless and proactive student myself, I also love to teach others on the subjects that I know really well.
				  I have tutored many students until now and most of them have got benefited by this.
			  </li>
			  <li>
				  <b>Sports and Music</b>. I love several individual and team sports e.g. Cricket, Tennis. 
				  I am also a big fan of good music. I believe any kind of negative human emotion can be eradicated by melody.
			  </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Things worth mentioning:</h3>
		  <ul>
  			<li>
				Building a Web platform that connects people, who want to extend a helping hand, with students who need monetary support to continue their education.
				Developing the entire backend application in Java, spring boot and integrating the application with external storage services e.g. AWS S3, Vimeo and AWS RDS (MySQL) 
    		</li>
  			<li>
				Tutored ~500 undergrad students in 1.5 years (Aug 2018 - Dec 2019) in W.P.Carey School of Business, Arizona State University.
			</li>
  			<li>
                Active volunteer in rescuing ill and injured stray animals since 1995. Providing medical treatments and shelters for them. Active contributor in ‘Animal Rescue and Care’, a Kolkata based NGO, since 2015.
  			</li>
  			<li>
  			  1st runner-up (Silver) in state level Tae Kwon Do championship in 1994. Earned Junior Diploma in Indian classical music (Vocal) in 1994 from Allahabad University.
			  2nd runner-up in district Tae Kwon Do championship in 1995. Member of college’s Table Tennis team. Represented my college in Intra-State Engineering College Table Tennis Tournament in 2002.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
