<section id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Building softwares for the betterment of society </b>. There are so many social, economical, political issues persist around us that bother me. Technology cannot take on all those issues alone - we need active participation from all section of our soceity to deal with those issues. 
				 However, Software definitely can help us bringing the support from them.
			  <li>
				  <b>Sports</b>. I was the 1st runner-up (silver) in tae-kwon-do state championship in 1997. 
				  I represented my college for intra-state table tennis championship in 2002. I love several other individual and team sports e.g. Cricket, Tennis. 
			  </li>
			  <li>
				  <b>Music</b>. I am a junior diploma holder in Indian classical music (vocal) from Allahabad University. I absolutely love melodious music and I believe 
				  any kind of negative human emotion can be eradicated by melody.
			  </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          OpenGidget is an open-source fork of Raspbian Linux that makes it easier to auto-provision a headless Raspberry PI,
          get it onto your WiFi network, and deploy simple Python and Ruby scripts that run at startup - all without needing to plug in a keyboard/monitor.
    		</li>
  			<li>
          My Medium blog covers my ongoing attempts to instrument and automate everything in my house.
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Volunteer at Boys and Girls club (since 2008)
  			</li>
  			<li>
  			  Active member of The Seattle Ruby on Rails Developers Meetup Group.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
